   <section class="features-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features</h2>
                <p class="text-center">Making a single webpage for all Downloading and personal use.</p>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Download</h3>
                    <p class="description">Download any youtube video and audio at its best availabe Quality.Download any instagram post.Can even Download your beloved Private account Profile pictures 👽.A lot to come..... </p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Always available</h3>
                    <p class="description">Site is always on 24*7</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Customizable</h3>
                    <p class="description">Soon will be adding customer demand collector feature</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-leaf icon"></i>
                    <h3 class="name">Open Source</h3>
                    <p class="description">Soon we will be Dropping the source code to Website</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-plane icon"></i>
                    <h3 class="name">Fast</h3>
                    <p class="description">Direct Competition with other Downloader websites which shows you advertisement and make your experience slow</p>
                </div>
                <div class="col-sm-6 col-md-4 item"><i class="fa fa-phone icon"></i>
                    <h3 class="name">Mobile-first</h3>
                    <p class="description">Our first Priority was Mobile view.Show its 1001% Resposnive</p>
                </div>
            </div>
        </div>
    </section>