<%- include('header.ejs') %>
<form class="container-fluid"action="/instaDp">
	<div class="mb-3">
	  <label for="exampleInputEmail1" class="form-label">Enter your Beloved Name</label>
	  <input type="text" name="username" class="form-control" id="inputLink" aria-describedby="emailHelp">
	</div>
	<button type="submit" class="btn btn-success">Let's Go</button>
      </form>
<%- include('footer.ejs') %>