<%- include('header.ejs') %>
<form class="container-fluid yt"action="/instaPostDownloader">
	<div class="mb-3">
	  <label for="exampleInputEmail1" class="form-label">Enter the post Link</label>
	  <input type="text" name="url" class="form-control" id="inputLink" aria-describedby="emailHelp">
	</div>
	<div class="text-center">
		<button type="submit" class="btn btn-outline-secondary">Let's Snap♥️</button>
	</div>
	<p></p>
	<p class="font-monospace">Discription:-This feature is helps in  Downloading Instgram Media files</p>
	
      </form>
<%- include('footer.ejs') %>