<div class="container hero">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center revolution">The Revolution is Here</h1>
            <div>
                <!-- <img src="alien.png" frameborder="0"> -->
                <img style="display:block;margin: auto;padding: auto;opacity:0.2"src="alien.gif" width="329" height="480" frameBorder="0">
                
           </div>
        </div>
    </div>
    <div>
        <br>
        <br>
        <br>
        <br>
        <p class="font-monospace text-center" style="color: white;">Description:-Co-founders believe in Aliens 👽</p>
    </div>
</div>
<!-- <script src="hassets/bootstrap/js/bootstrap.min.js"></script> -->