<div class="container hero">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">The Revolution is Here.</h1>
            <div class="ratio ratio-16x9"><iframe src="/news" title="W3Schools Free Online Web Tutorials">
            </iframe></div>
        </div>
    </div>
</div>
</header>
<!-- <script src="hassets/bootstrap/js/bootstrap.min.js"></script> -->