<%- include('header.ejs') %>
<script src="../Backend/values.js"></script>
      <form class="container-fluid yt"action="/youtube">
	<div class="mb-3">
	  <label for="exampleInputEmail1" class="form-label fs-2">Let's Play snap some songs</label>
	  <input type="text" name="fname" class="form-control" id="inputLink" aria-describedby="emailHelp">
	</div>
	<div class="text-center">
		<button type="submit" name="vname"id="videoId" class="btn btn-outline-light">Video</button>
		<button type="submit" name="audio"id="audioId" class="btn btn-outline-light">Audio</button>
	</div>
	<p></p>
	<p class="font-monospace">Description:-This feature helps in Downloading youtube Video and Audio file(Higest Available Qulaity).</p>
	
      </form>
      
      <%- include('footerSimple.ejs') %>
