<%- include('header.ejs') %>
<script src="../Backend/values.js"></script>
      <form class="container-fluid"action="/youtube">
	<div class="mb-3">
	  <label for="exampleInputEmail1" class="form-label">Enter your Link</label>
	  <input type="text" name="fname" class="form-control" id="inputLink" aria-describedby="emailHelp">
	</div>
	<button type="submit" name="vname"id="videoId" class="btn btn-primary">Video</button>
	<button type="submit" name="audio"id="audioId" class="btn btn-success">Audio</button>
      </form>

      <%- include('footer.ejs') %>